<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add car</title>
</head>
<body>
    <h1>Add car</h1>

    <label for="">V number</label><input type="text" id="uservnumber"><br />
    <label for="">Make</label><input type="text" id="usermake"><br />
    <label for="">Model</label><input type="text" id="usermodel"><br />
    <label for="">Year</label><input type="text" id="useryear"><br />
    <button type="button" onclick="addCar()">Add this car</button>

<script src="../carapp_js.js"></script>
</body>
</html>