<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../carapp_style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <h2>Welcome to the car App</h2>
    <button id="listbutton"  onclick="getCars()">List of cars</button>
    <p id="listsplace"></p>

    <button onclick="location.href='addcar.html'">Add car</button>
    <button onclick="location.href='deletecar.html'">Delete a car</button>

<script src="../carapp_js.js"></script>
</body>
</html>